li{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

.menu{
    @apply  hover:bg-xylo rounded-md hover:animate-pulse  ;
}

.btn{

    @apply  bg-myblue p-1  px-5 rounded-lg transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 text-white mx-2;
}


.navbar {
    max-width: 100%;
  }
  
  .logo {
    max-height: 50px;
  }
  
  .menu-button {
    cursor: pointer;
  }
  
  .menu-content {
    display: none;
  }
  
  .menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
  }
  
  .menu-item {
    margin: 10px 0;
  }
  
  .dropdown-menu {
    display: none;
  }
  
  .menu-item.dropdown:hover .dropdown-menu,
  .menu-item.dropdown:focus-within .dropdown-menu {
    display: block;
  }
  
  /* Responsive Styles */
  @media (min-width: 768px) {
    .menu-content {
      display: flex !important;
    }
    
    .menu-list {
      flex-direction: row;
    }
    
    .menu-item {
      margin: 0 15px;
    }
  }
  

/* 

.nav-bg{
    background-color: white !important;
}
.career-btn {
    background-color:#1F419B;
    font-family:'Kodchasan';
    color: aliceblue;
    height: 33px;
    width: 101px;
    padding-bottom: 30px;
    border-radius:8px;
}


a {
    font-family: 'Open Sans';
    color: black ;
    border-radius:10px;
    margin-left:5px;
    margin-right: 5px;
    padding:10px;
}

a:hover {
    background-color:skyblue;

}

.career-btn {
    background-color:#1F419B;
    font-family:'Kodchasan';
    color: aliceblue;
    height: 33px;
    width: 101px;
    margin-left: 10px;
    padding-bottom: 30px;
}

.career-btn:hover{
    background-color:skyblue;
    color:black;
}

nav{
    height:132px;
    border-style:solid;
}
 */
