/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional custom styles if needed */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #eee;
  font-size: 14px;
  color: #000;
}
