
.card-item{

    @apply bg-white w-60 p-4 shadow-md text-sm m-auto rounded-lg flex flex-col items-center;
}



@keyframes ping {
    75%, 100% {
        transform: scale(2);
        opacity: 100;
    }
}
.animate-myping {
    animation: ping 5s cubic-bezier(0, 0, 0.2, 1) infinite;
}


.type-cur {
    width: 7ch;
    animation: typing 2s steps(50), blink .10s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
  }
 
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }